<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <title>Startpagina</title>
      <%- include('partials/head'); %>
    <script src="/js/404.js" defer></script>
	<link rel="stylesheet" href="../css/error.css">
</head>
<body>
	<%- include("partials/navbar")%>
    <main style="text-align: center; margin: 15% 0 0 0;">
		<h1>Sorry deze pagina kan niet gevonden worden</h1>
		<h2>ERROR 404</h2>
	</main>
</body>
</html>