<!doctype html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon vangen</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
          <main class="p-lg-3 w-50 mx-auto">
                
              <div class="pokeballcontainer ">
                <img src="images\pokeball.png"\ class="mx-auto d-block">
              </div>
              
          </main>
  </body>