<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Dashboard</title>
    <%-include('partials/head')%>
  </head>
  <body>
    <%-include('partials/navbar')%>

    <main>   
      <section
      class="d-lg-flex flex-row flex-lg-fill justify-content-center flex-lg-wrap bd-highlight mb-lg-8 w-75 mx-auto overflow-hidden"
    >
    <div class="imgWrap">

      <button type="Vergelijk"><img src="images/compare pokemon.png"/>Vergelijk Pokemons</button>
      <button type="Bekijken" class="btn btn-danger">Mijn Pokemons</button>
      <button type="Pokemon" class="btn btn-danger">Huidige Pokemon</button>
  </main>
  </body>
</html>
