<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Dashboard</title>
    <%-include('partials/head')%>
  </head>
  <body>
    <%-include('partials/navbar')%>

    <main>   

<section class="dashboard">
<article>
  <div class= "centerimg"><img src="images/pokemonvgl.jpg" height="300rem"/></div><br/>
  <div class="centerbutton"><button type="Vergelijk" class="btn btn-danger" onclick="location.href='/vergelijking'">Vergelijk Pokemons</button></div>
</article>
    
<article>
  <div class= "centerimg"></div><img src="images/pokemoncol.jpg" height="300rem"/></div><br/>
  <div class="centerbutton"><button type="Bekijken" class="btn btn-danger" onclick="location.href='/pokemon'">Bekijken</button></div>
</article>

<article>
  <div class= "centerimg"></div><img src="images/mypokemon.jpg" height="300rem"/></div><br/>
  <div class="centerbutton"><button type="Pokemon" class="btn btn-danger" onclick="location.href=''" >Huidige Pokemon  </button></div>
</article>
</section>


  </main>
  </body> 
</html>
s