<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Dashboard</title>
    <%-include('partials/head')%>
  </head>
  <body>
    <%-include('partials/navbar')%>

    <main>   
<section class="dashboard py-5">
  
  <article class="d-flex justify-content-center flex-wrap flex-row">
    <img src="/images/pokemonvgl.jpg" height="auto" width="100%" class="px-5 mb-5 mt-2"/>
    <button class="btn btn-danger m-auto mb-2" onclick='window.location.href="/vergelijking"'>Vergelijk Pokemons</button>
  </article>
      
  <article class="d-flex justify-content-center flex-wrap flex-row">
    <img src="/images/pokemoncol.jpg" height="300rem" width="100%" class="px-5 mb-5  mt-2"/>
    <button type="Bekijken" class="btn btn-danger m-auto mb-2">Bekijken</button>
  </article>

  <article class="d-flex justify-content-center flex-wrap flex-row">
    <img src="/images/mypokemon.jpg" height="300rem" width="100%" class="px-5 mb-5  mt-2"/>
    <button type="Pokemon" class="btn btn-danger m-auto mb-2" onclick='window.location.href="/pokemon"'>Huidige Pokemon </button>
  </article>
</section>


  </main>
  </body> 
</html>
s