<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Dashboard</title>
    <%-include('partials/head')%>
  </head>
  <body>
    <%-include('partials/navbar')%>

    <main>   
<section class="dashboard">
<article>
  <img src="images/pokemonvgl.jpg" height="300rem"/><br/>
  <button type="Vergelijk">Vergelijk Pokemons</button>
</article>
    
<article>
  <img src="images/pokemoncol.jpg" height="300rem"/><br/>
  <button type="Bekijken">Bekijken</button>
</article>

<article>
  <img src="images/mypokemon.jpg" height="300rem"/><br/>
  <button type="Pokemon">Huidige Pokemon </button>
</article>
</section>


  </main>
  </body> 
</html>
s