
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style type="text/css">
        table  { width: 100%; }
        *      {  text-align: left; }
    </style>
</head>
<body>  
    <table>
        <caption><h1>GET Request example page</h1></caption>
        <tr>
            <th style="text-align: left; font-size: 1.6rem;">Name</th>
            <th style="text-align: left; font-size: 1.6rem;">Value</th>
        </tr>
        <tr>
            <td>current index: </td>
            <td><%= data["index"] %></td>
        </tr>
        <tr>
            <td>name:</td>
            <td>
                <% if(data["person"] !== undefined) { %> 
                    <%=  data["person"].name %>
                <% } else { %>
                    no data found 
                <% } %>
            </td>
        </tr>
    </table>
    <h2>decrement/increment index</h2>
    <ul>
        <li><a href='/getExample?index=<%= data["index"]-1 %>'>index--</a></li>
        <li><a href='/getExample?index=<%= data["index"]+1 %>'>index++</a></li>
    </ul>
    
    <pre>
        class object location: server.IViewTemplate->GetExample
    </pre>
    <p>Go back to homepage <a href="./">click here</a></p> 
</body>
</html>