<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Startpagina</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar.ejs');%>
    <main>
      <section
        class="d-lg-flex flex-row flex-lg-fill justify-content-center flex-lg-wrap bd-highlight mb-lg-8 w-75 mx-auto overflow-hidden ml-2 index"
      >
      <%
        let images = ["/images/logo-mtg-circle.png", "/images/logo-lego-circle.png", "/images/logo-lotr-circle.png", "/images/logo-fifa-circle.png", "images/logo-fortnite-circle.png"]
        for(let image of images) {
      %>  
        <article
        class="p-2"
        onClick="Swal.fire({
          icon: 'error',
          title: 'Sorry',
          text: 'Dit project is momenteel niet beschikbaar!', 
        })"
        >
          <main class="d-flex justify-content-center">
            <img
              src="<%= image %>"
              alt="Logo van een categorie"
              class="rounded-circle bg-light"
              height="300rem"
            />
          </main>
        </article>
      <% } %>
      
        <article class="p-2">
            <main class="d-flex justify-content-center">
              <a href="/dashboard">
                <img  
                  src="images/logo-pokemon-circle.png"
                  alt="Logo van Pokémon"
                  class="rounded-circle bg-white"
                  height="300rem"
                />
              ></a>
            </main>
        </article>
      </section>
    </main>
  </body>
</html>
