
<h1>Server examples:</h1>

<article>
    <section>
        <h2>Status codes</h2>
        <ul>
            <li><a href="/404">404</a></li>
        </ul>        
    </section>
    
    <section>
        <h2>Requests</h2>
        <ul>
            <li><a href="/getExample?index=0">Get</a></li>
            <li><a href="/postExample">Post</a></li>
        </ul>      
    </section>
</article>
