<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startpagina</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <%- include('partials/navbar.ejs');%>
    <main>
        <section class="d-lg-flex flex-row flex-lg-fill justify-content-center flex-lg-wrap bd-highlight mb-lg-8 w-75 mx-auto overflow-hidden">
            <article class="p-2 bd-highlight"><a href="https://magic.wizards.com/en" onClick="alert(`Dit project is niet beschikbaar.\nWe verwijzen je graag door naar de startpagina van het gekozen thema`)" target="_blank"><div class="imgWrap"><img src="images/logo-mtg-circle.png" alt="Logo van Magic The Gathering" height="300rem"></div></a></article>

            <article class="p-2 bd-highlight"><a href="https://www.lego.com/nl-be" onClick="alert(`Dit project is niet beschikbaar.\nWe verwijzen je graag door naar de startpagina van het gekozen thema`)" target="_blank"><img  src="images/logo-lego-circle.png" alt="LEGO Logo" height="300rem"></a></article>

            <article class="p-2 bd-highlight"><a href="https://nl.wikipedia.org/wiki/The_Lord_of_the_Rings" onClick="alert(`Dit project is niet beschikbaar.\nWe verwijzen je graag door naar de startpagina van het gekozen thema`)" target="_blank"><img  src="images/logo-lotr-circle.png" alt="Logo van Lord of The Rings" height="300rem"></a></article>

            <article class="p-2 bd-highlight"><a href="https://www.fifa.com/" onClick="alert(`Dit project is niet beschikbaar.\nWe verwijzen je graag door naar de startpagina van het gekozen thema`)" target="_blank"><img  src="images/logo-fifa-circle.png" alt="Logo van FIFA" height="300rem"></a></article>

            <article class="p-2 bd-highlight"><a href="/nbb" target="_blank"><img  src="images/logo-nbb-circle.png" alt="Logo van de Nationale Bank van België" height="300rem"></a></article>

            <article class="p-2 bd-highlight"><a href="https://www.epicgames.com/fortnite/en-US/home" onClick="alert(`Dit project is niet beschikbaar.\nWe verwijzen je graag door naar de startpagina van het gekozen thema`)" target="_blank"><img  src="images/logo-fortnite-circle.png" alt="Logo van fortnite" height="300rem"></a></article>
        </section>
    </main>
</body>
</html>