<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <title>Startpagina</title>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/navbar.ejs');%>
    <main>
        <section class="d-lg-flex flex-row flex-lg-fill justify-content-center flex-lg-wrap bd-highlight mb-lg-8 w-75 mx-auto overflow-hidden">
            <article class="p-2 bd-highlight" onClick="window.open('./popup','Popup','width=500,height=530,scrollbars=no,toolbar=no,location=no')"><div class="imgWrap"><img src="images/logo-mtg-circle.png" alt="Logo van Magic The Gathering" height="300rem"></div></article>

            <article class="p-2 bd-highlight" onClick="window.open('./popup','Popup','width=500,height=530,scrollbars=no,toolbar=no,location=no')"><div class="imgWrap"><img  src="images/logo-lego-circle.png" alt="LEGO Logo" height="300rem"></div></article>

            <article class="p-2 bd-highlight" onClick="window.open('./popup','Popup','width=500,height=530,scrollbars=no,toolbar=no,location=no')"><div class="imgWrap"><img  src="images/logo-lotr-circle.png" alt="Logo van Lord of The Rings" height="300rem"></div></article>

            <article class="p-2 bd-highlight" onClick="window.open('./popup','Popup','width=500,height=530,scrollbars=no,toolbar=no,location=no')"><div class="imgWrap"><img  src="images/logo-fifa-circle.png" alt="Logo van FIFA" height="300rem"></div></article>

            <article class="p-2 bd-highlight"><a href="/nbb" target="_blank"><div class="imgWrap"><img src="images/logo-nbb-circle.png" alt="Logo van de Nationale Bank van België" height="300rem"></div></a></article>

            <article class="p-2 bd-highlight" onClick="window.open('./popup','Popup','width=500,height=530,scrollbars=no,toolbar=no,location=no')"><div class="imgWrap"><img  src="images/logo-fortnite-circle.png" alt="Logo van fortnite" height="300rem"></div></article>
        </section>
    </main>
</body>
</html>