<!doctype html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landingspage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
</head>
<body class="p-sm-3">
        <form class="d-flex bd-highlight">
            <fieldset class="p-2 flex-fill bd-highlight mb-lg-3 ">
                <legend>
                    <label for="ondernemingsInput" class="form-label">Ondernemingsnummer 1:</label>
                    <input type="text" id="ondernemingsInput" class="form-control" placeholder="Ondernemingsnummer 1" aria-label="Username" aria-describedby="addon-wrapping">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </legend>
            </fieldset>
            <fieldset class="p-2 flex-fill bd-highlight mb-lg-3">
                <legend>
                    <label for="ondernemingsInput2" class="form-label">Ondernemingsnummer 2:</label>
                    <input type="text" id="ondernemingsInput2" class="form-control" placeholder="Ondernemingsnummer 2" aria-label="Username" aria-describedby="addon-wrapping">
                </legend>
            </fieldset>
            <fieldset class="p-2 flex-fill bd-highlight ">
                <legend>
                    <label for="searchbar" class="form-label">Historie</label>
                    <div class="input-group">
                        <input type="search" id="searchbar" class="form-control rounded" placeholder="Opzoeken vereniging" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary">zoek</button>
                    </div>
                </legend>
            </fieldset>
        </form>
</body>