<!doctype html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tool om te vergelijken</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body>
  <%- include('partials/navbar.ejs'); %>
        <main class="p-lg-3">
            <form class="d-flex bd-highlight">
                <fieldset class="p-2 flex-fill bd-highlight mb-lg-3 ">
                    <legend>
                        <label for="pokeInput" class="form-label">pokenummer 1:</label>
                        <input type="text" id="pokeInput" class="form-control" placeholder="pokenummer 1" aria-label="Username" aria-describedby="addon-wrapping" required>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </legend>
                </fieldset>
                <fieldset class="p-2 flex-fill bd-highlight mb-lg-3">
                    <legend>
                        <label for="pokeInput2" class="form-label">pokenummer 2:</label>
                        <input type="text" id="pokeInput2" class="form-control" placeholder="pokenummer 2" aria-label="Username" aria-describedby="addon-wrapping" required>
                    </legend>
                </fieldset>
                <fieldset class="p-2 flex-fill bd-highlight ">
                    <legend>
                        <label for="searchbar" class="form-label">Historie</label>
                        <div class="input-group">
                            <input type="search" id="searchbar" class="form-control rounded" placeholder="Opzoeken pokemon" aria-label="Search" aria-describedby="search-addon" />
                            <button type="button" class="btn btn-outline-primary">zoek</button>
                        </div>
                    </legend>
                </fieldset>
            </form>
        </main>
</body>