<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tool om te vergelijken</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="p-lg-3">
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <%= pokemons[0].name %>
          </div>
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
