<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pokemons</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="p-lg-3">

      <div class="d-flex flex-wrap justify-content-center">
        <% for (let i = 0; i<pokemons.length; i++){%>
        <article class="pokemonkaart">
          <div class="row">
            <img src="<%= pokemons[i]._sprites.front_default %>" class="spriteimg"/>
          </div>
          <div class="row">
            <div class="col-8">
              <h1 class="pokename text-capitalize">
                <%= pokemons[i].name %>
              </h1>
            </div>
            <div class="col-2">
              <img src="images\pokeball.png" class="pokeballimg"\>
            </div>
          </div>
        </article>
        <%}%>
        </div>
        </article>
      </div>       
    </main>
  </body>
</html>
