<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <title>Popup</title>
    <%-include('partials/head')%>
</head>
<body>
    <%-include('partials/navbar')%>
    <main class="popup">
        <h1>Sorry! Dit project is momenteel niet toegankelijk</h1>
        <p>Momenteel zijn deze andere projecten niet beschikbaar. Onze oprechte excuses hiervoor!</p>
        <p>We werken hier zo snel mogelijk aan.</p>
        <button class="btn btn-primary"><a href="javascript:top.window.close()">Sluit venster</a></button>
    </main>
</body>
</html>