
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST Request example</title>
    <style type="text/css">
        * {
            text-align: left;
        }

        table 
        {
            width: 100%;
        }
    </style>
</head>

<body>
    <form action="/postExample" method="post" style="width: 100%;">
        <table>
            <caption>
                <h1>POST Request example</h1>
                <%- data["message"] %>
            </caption>
    
            <tr>
                <th>field</th>
                <th>input</th>
            </tr>
            <tr>
                <td><label for="fname">First name</label></td>
                <td><input type="text" name="fname" id="fname" value="username" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit" /> </td>
            </tr>
        </table>
    </form>
    
    <br />
    <br />
    <pre>
        class object: server.IViewTemplate->PostExample
    </pre>
    
    <p>Go back to homepage <a href="./">click here</a></p>
</body>
</html>
