<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Tool om te vergelijken</title>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="d-flex justify-content-center">
      <div class="card w-25 m-5" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">PokemonA</h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">HP:</li>
          <li class="list-group-item">Attack: <% attackA %></li>
          <li class="list-group-item">Defence:</li>
          <li class="list-group-item">Special Attack:</li>
          <li class="list-group-item">Special Defence:</li>
          <li class="list-group-item">Speed:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card w-25 m-5" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">PokemonA</h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">HP:</li>
          <li class="list-group-item">Attack:</li>
          <li class="list-group-item">Defence:</li>
          <li class="list-group-item">Special Attack:</li>
          <li class="list-group-item">Special Defence:</li>
          <li class="list-group-item">Speed:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </main>
  </body>
</html>
