article {
  margin: 2rem 0 0 0;
}

article:hover {
  background-color: #64646475;
  border-radius: 2rem;
}

body.contact main {
  margin: 2rem 0 0 0;
  border: 3px solid black;
  border-radius: 2rem;
}

body.contact main form div,
body.contact main form label {
  margin: 1rem 0 0 0;
}

.input-group input[type="submit"]#contact {
  margin: 0 auto;
  font-size: 1.5rem;
  width: 80%;
}

.imgWrap {
  display: flex;
  justify-content: center;
}
.imgWrap img {
  border-radius: 50%;
  background-color: white;
}

img#logo {
  border-radius: 50%;
}

.popup {
  text-align: center;
}

.popup h1 {
  margin: 3rem 0 1rem 0;
}
.popup button {
  margin: 2rem 0 0 0;
}

.popup button a {
  text-decoration: none;
  color: inherit;
}

.pokeballcontainer{
  background-color: rgb(251,27,27,0.5);
  border-radius: 200px;
}

.pokemonkaart{
    display: grid;
    text-align: center;
}

.pokeballimg{
  width: 1.5rem;
  height: 1.5rem;
}

.spriteimg{
  width: 6rem;
  height: 6rem;
}