article {
  margin: 2rem 0 0 0;
}

article:hover {
  background-color: #64646475;
  border-radius: 2rem;
}

body.contact main {
  margin: 2rem 0 0 0;
  border: 3px solid black;
  border-radius: 2rem;
}

body.contact main form div,
body.contact main form label {
  margin: 1rem 0 0 0;
}

.input-group button {
  margin: 0 auto;
  font-size: 1.5rem;
  width: 80%;
}
